<div class="main-bg-color">
  <div class="main-info">
    <div class="about">
      <div>
        <p class="header">Analytical</p>
      </div>
      <div>
        <p>
          The analytical dashboard provides data comparison in a very
          user-friendly way, it helps to identify which strategy is producing
          better results and which not. The analytical dashboard helps to find
          the trends so with the help of trends you can create strategies for
          the future. You can easily interact with data in an analytical
          dashboard. It provides you data with the help of graphs, charts, and
          tables. It is so easy that anyone can understand and create a report
          with the help of data.
        </p>
      </div>
    </div>
    <div class="about">
      <div>
        <p class="header">Operational</p>
      </div>
      <div>
        <p>
          The operational Admin dashboard is the most common. It is used to
          provide real-time information and data related to daily tasks and
          operations. The main goal of this operational Admin dashboard is to
          show data that indicates the performance of a website, web
          application, or business. So with the help of the admin dashboards,
          you can easily check the performance of the entire business with just
          a few clicks.
        </p>
      </div>
    </div>
    <div class="about">
      <div>
        <p class="header">Strategic</p>
      </div>
      <div>
        <p>
          Strategic Admin dashboard is used to track the performance based on
          the KPI’s (Key Performance Indicators) that you set for your website
          and business. It provides a better view and effects of the strategies
          that you apply to enhance the performance of business and website. If
          you want to share the dashboard reports with your entire organization
          then you can do that easily with the strategic Admin dashboard.
        </p>
      </div>
    </div>
  </div>
  <footer>
    <div>
      <p>
        &copy; Copyright | Angular Developement, Design, UI/UX Design by Kinar Sardhara
      </p>
    </div>
  </footer>
</div>
