.side {
  position: relative;
  button {
    border: none;
    background: transparent;
    color: var(--btn-txt-color);
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
  }
}

.router {
  padding-left: 68px;
  width: 100%;
}
