.chart-wrapper {
  width: 500px;
  padding: 25px;
  background: var(--side-menu-nav);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.bitcoin-div {
  width: 265px;
  height: 290px;
  background: var(--side-menu-nav);
  box-shadow: var(--shadow);
  padding: 10px;
  margin-left: 20px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.bar_ch {
  margin-left: 10px;
  span {
    color: #0d6efd;
    font-size: 30px;
  }
}

.modal-txt {
  font-size: 13px;
  opacity: 0.9;
  margin: 4px 0 0 0;
}

.spinner-border {
  margin-left: 20px;
}
tbody tr:nth-child(odd) {
  background-color: var(--table-row);
  color: var(--text-color);
}
#amount {
  width: 70px;
  margin-right: 10px;
}

#trade-btn {
  margin-left: 20px;
}

.coin-table-div {
  .coins {
    background: var(--side-menu-nav);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: var(--shadow);
    p {
      font-size: 22px;
      font-weight: 500;
    }
    .pager {
      display: flex;
      justify-content: center;
      color: var(--text-color);
    }
  }
}

.trade-div {
  background: var(--side-menu-nav);
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
  box-shadow: var(--shadow);

  p {
    font-size: 22px;
    font-weight: 500;
  }
}

.high {
  color: rgb(0, 200, 3);
}

.button-buy {
  margin-left: 20px;
}

.low {
  color: rgb(255, 51, 51);
}

.high_res,
.low_res,
.symbol_res,
.price_res {
  font-weight: 500;
}

.high_res {
  color: #0ea30e;
}

.low_res {
  color: #ff4040;
}

th,
td {
  color: var(--text-color);
}

@media (max-width: 830px) {
  .flex-mobile {
    display: flex;
    flex-direction: column;
  }

  .bitcoin-div {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 710px) {
  .mob {
    display: none;
  }
}

@media (max-width: 630px) {
  .chart-wrapper {
    padding: 0;
    width: 335px;
  }
}

@media (max-width: 480px) {
  .mobile-none {
    display: none;
  }

  .high_res,
  .highes,
  .lowes,
  .low_res {
    display: none;
  }
}

@media (max-width: 380px) {
  .bitcoin-div {
    width: 230px;
  }
}
