<div class="main-bg-color">
  <div class="flex mobile-flex">
    <div class="dash-chart-div">
      <canvas id="myChart"></canvas>
    </div>
    <div class="dash-chart-div second-chart">
      <canvas id="chartTwo"></canvas>
    </div>
  </div>
  <div class="bar-div">
    <div class="clickbank-div">
      <p>
        Display of your marketing campaigns, and so on. <br />
        Currently displaying affiliate marketing sales and social media
        marketing experience and reach.
      </p>
      <img
        src="../../../../../assets/images/clickbank.png"
        class="clickbank"
        alt=""
      />
    </div>
    <div class="barr">
      <canvas id="bar"></canvas>
    </div>
  </div>
  <footer>
    <div>
      <p>
        &copy; Copyright | Angular Developement, Design, UI/UX Design by Kinar Sardhara
      </p>
    </div>
  </footer>
</div>
