#myChart {
  display: block;
}

.dash-chart-div {
  width: 500px;
  background: var(--side-menu-nav);
  box-shadow: var(--shadow);
  padding: 30px;
  border-radius: 5px;
}

.second-chart {
  margin-left: 20px;
}

.bar-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  background: var(--side-menu-nav);
  box-shadow: var(--shadow);
  padding: 25px;
  border-radius: 5px;
  .barr {
    width: 500px;
  }
}
.clickbank {
  width: 290px;
}

@media (max-width: 1115px) {
  .mobile-flex {
    display: flex;
    flex-direction: column;
  }

  .second-chart {
    margin: 20px 0 0 0;
  }

  .dash-chart-div {
    padding: 10px;
  }
}

@media (max-width: 860px) {
  .bar-div {
    .barr {
      width: 250px;
    }
  }
}
@media (max-width: 710px) {
  .bar-div {
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .dash-chart-div {
    width: 340px;
    padding: 0;
  }
}

@media (max-width: 460px) {
  .dash-chart-div {
    width: 290px;
    padding: 0;
  }

  .clickbank {
    width: 120px;
  }
}

@media (max-width: 390px) {
  .dash-chart-div {
    width: 250px;
    padding: 0;
  }
  .bar-div {
    .barr {
      width: 180px;
    }
  }
}

@media (max-width: 342px) {
  .dash-chart-div {
    width: 211px;
  }
}
