<nav>
  <div class="flex">
    <div class="menu-div">
      <div class="menu-btn"></div>
      <div class="align-txt">
        <p class="margin-none nav-txt">TheCube</p>
        <img
          class="logo"
          src="../../../../../assets/images/dash.png"
          width="40px"
          alt=""
        />
      </div>
      <div class="icons">
        <div class="m1">
          <span class="material-icons md-36">notifications</span>
        </div>
        <div class="line"></div>
        <div class="m2">
          <label class="toggle">
            <input type="checkbox" (change)="toggleDarkTheme()" />
          </label>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <div class="user-div">
      <div><p>Company name</p></div>
      <div><p>John Doe</p></div>
    </div>
  </div>
</nav>
