nav {
  background: var(--side-menu-nav);
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow);
  height: 55px;
  z-index: 999;
  .align-txt {
    display: flex;
    align-items: center;
    margin-top: 5px;
    p {
      color: var(--text-color);
      font-size: 20px;
      font-weight: 600;
      img {
        margin-left: 10px;
      }
    }
  }
  .flex {
    .user-div {
      width: 200px;
      margin-left: 30px;
      display: none;
    }
  }
  .menu-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .icons {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-right: 30px;

      .line {
        border: 0.5px #aeaeae solid;
        height: 28px;
      }
      .m1 {
        margin-right: 10px;
        margin-top: 5px;
        color: var(--text-color);
      }
      .m2 {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .menu-btn {
    button {
      border: none;
      background: white;
      margin: 14px;
    }
  }
  .nav-txt {
    margin-right: 7px;
  }

  .user-div {
    div p {
      color: var(--text-color);
      margin: 0;
      text-decoration: underline;
    }
  }
}

.toggle {
  --active-color: #212121;
  --inactive-color: rgb(209 213 219);
  --rail-height: 1.5rem;
  --rail-ratio: 1.8;
  --inset: 2px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  gap: 1em;
  user-select: none;
}

/* checkbox */
.toggle input {
  order: 1;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  width: calc(var(--rail-height) * var(--rail-ratio));
  height: var(--rail-height);

  /* hide default styling */
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  border-radius: 1em;
}

/* checkbox rail */
.toggle input:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--inactive-color);
  border-radius: var(--rail-height);
  z-index: 0;
  transition: all 100ms ease;
}

/* checkbox rail (change color when checked) */
.toggle input:checked:before {
  background-color: var(--active-color);
}

/* checkbox rail (flash on hover) */
.toggle input:hover {
  opacity: 0.7;
}

/* checkbox handle (the white part) */
.toggle input:after {
  content: "";
  background-color: #fff;
  position: absolute;
  aspect-ratio: 1;
  top: var(--inset);
  bottom: var(--inset);
  left: var(--inset);
  border-radius: 100%;
  transition: left 200ms ease;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.3);
}

/* checkbox handle (slide when checked) */
.toggle input:checked:after {
  left: calc(100% - var(--rail-height) + var(--inset));
}

/* change the color of the span text on check as well! */
.toggle input:checked ~ * {
  color: var(--active-color);
}

@media (max-width: 430px) {
  .nav-txt {
    display: none;
  }

  .logo {
    margin-right: 15px;
  }

  nav {
    .menu-div {
      justify-content: end;
    }
  }
}

@media (max-width: 325px) {
  .user-div {
    display: none;
  }
}
