.main-tables {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 74vh;
  div {
    img {
      max-width: 500px;
    }
  }
}

@media (max-width: 600px) {
  .main-tables {
    div {
      img {
        max-width: 300px;
      }
    }
  }
}

@media (max-width: 370px) {
  .main-tables {
    div {
      img {
        max-width: 180px;
      }
    }
  }
}
