<div class="main-bg-color">
  <div class="flex mobile-flex">
    <div class="main-form">
      <p>Plain message</p>
      <hr />
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Subject"
            fromControlName="subject"
          />
        </div>
        <div class="flex justi-form">
          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              placeholder="First name"
              fromControlName="firstName"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3 lastname"
              placeholder="Last name"
              fromControlName="lastName"
            />
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control mt-3"
            placeholder="Company email"
            fromControlName="email"
          />
        </div>
        <div class="form-group">
          <textarea
            class="form-control text-area mt-3"
            placeholder="Message..."
            fromControlName="message"
          ></textarea>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control mt-3"
            placeholder="To..."
            fromControlName="to"
          />
        </div>
        <div class="btn-div">
          <button class="btn btn-primary mt-3" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <!---Checkbox-->
    <div class="checkbox-div">
      <p>Statuses</p>
      <hr />
      <div class="check">
        <div><mat-checkbox class="example-margin">Busy</mat-checkbox></div>
        <div>
          <mat-checkbox class="example-margin">Disable messages</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin">Lock registers</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin">In a meeting</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin">Out of office</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin">Lock charts</mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <!-----Form 2-->
  <div class="main-form mt-5">
    <p>Complaint message</p>
    <hr />
    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Complaint"
          fromControlName="complaint"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control mt-3"
          placeholder="Email"
          fromControlName="email"
        />
      </div>
      <div class="form-group">
        <textarea
          class="form-control text-area mt-3"
          placeholder="Complaint message..."
          fromControlName="message"
        ></textarea>
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control mt-3"
          placeholder="To client email..."
          fromControlName="to"
        />
      </div>
      <div class="btn-div">
        <button class="btn btn-primary mt-3">Submit</button>
      </div>
    </form>
  </div>
  <footer>
    <div>
      <p>
        &copy; Copyright | Angular Developement, Design, UI/UX Design by Kinar Sardhara
      </p>
    </div>
  </footer>
</div>
